#BettingList {
    margin: 0;
    padding: 0;
}

#BettingList .event {
    display: flex;
}

#BettingList .pageTitle {
    color: #FFF;
    text-align: center;
    font-family: WAGURI;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
