ranking-box {
    width: 86.75rem;
    height: 2.625rem;
}

ranking-num {
    width: 2.5rem;
    height: 2.5rem;
    flex-shrink: 0;

    border-radius: 625rem;
    background: #42474E;
}

profile-img {
    width: 2.65rem;
    height: 2.625rem;
    flex-shrink: 0;

    border-radius: 624.9375rem;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

profile-info {
    width: 10.75rem;

    color: #FFF;
    font-family: WAGURI;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

profile-name {
    width: 10.75rem;

    color: #FFF;
    font-family: WAGURI;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

profile-money {
    width: 8.15rem;
    
    color: #FFF;
    text-align: center;
    font-family: WAGURI;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

profile-success{
    width: 1rem;

    color: #FFF;
    text-align: center;
    font-family: WAGURI;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

profile-fail {
    width: 1rem;

    color: #FFF;
    text-align: center;
    font-family: WAGURI;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

profile-maximum-profit-margin {
    width: 2.5rem;

    color: #FFF;
    text-align: center;
    font-family: WAGURI;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

profile-betting-profit-margin {
    width: 3.5rem;

    color: #FFF;
    text-align: center;
    font-family: WAGURI;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}